@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins-Bold.ttf");
}
body {
  font-family: "Poppins-Bold";
  font: Poppins;
  background: #ffffff;
}

h1 {
  text-align: center;
  font-weight: 300;
}

.tulisan_login {
  text-align: center;
  /*text-transform: uppercase;*/
  margin-bottom: 5px;
  font-size: 25pt;
  font-weight: bold;
  color: #45bffa;
}

.kotak_login {
  width: 350px;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 30px 20px;
}

.pencetTombol {
  width: 350px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  text-align: center;
}

label {
  font-size: 11pt;
}

::placeholder {
  color: #75d0f4;
  opacity: 0.5;
}

#form_username {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px solid #4bc1ec;
  opacity: 0.75;
}
#form_password {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px solid #4bc1ec;
  opacity: 0.75;
}

#tombol_login {
  background: #43c2f9;
  color: white;
  font-size: 11pt;
  margin-left: 5%;
  width: 40%;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
#tombol_forget {
  background: #43c2f9;
  color: white;
  font-size: 11pt;
  margin-right: 5%;
  /*text-align: center;*/
  width: 40%;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.emailBaru {
  margin-left: 5%;
  color: #75d0f4;
  font-weight: bold;
}
.passwordBaru {
  margin-left: 5%;
  font-weight: bold;
  color: #75d0f4;
}

.kataBawah {
  color: #232323;
  text-decoration: none;
  font-size: 8pt;
}

#alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.6s;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Refactor */
#form_username,
#form_password {
  outline: none;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
#tombol_login {
  outline: none;
}
#tombol_login:hover {
  border: solid 1px #43c2f9;
  background-color: white;
  color: #43c2f9;
}
/* end- Refactor */
