.nav {
  display: flex;
  justify-content: space-between;
  min-height: 3.5em;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid transparent;
}

.navItemContainer {
  display: flex;
  margin-right: 3em;
}

.logo {
  /* justify-self: flex-start;
  font-weight: bold;
  font-size: 25px;
  margin-left: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  color: #01bdff; */
  height: 40%;
  width: 40%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #01bdff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.3rem;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: #01bdff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navItem {
  margin-right: 1.5em;
  padding: 7px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #01bdff;
  transition: 0.5s;
  text-decoration: none;
}

.navItem:hover {
  background: #01bdff;
  color: #fff;
  text-decoration: none;
}

#bar {
  display: none;
  color: #01bdff;
  position: absolute;
  right: 10%;
  align-self: center;
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
  }

  .navItemContainer {
    display: none;
    margin: 0;
    position: absolute;
    width: 35% !important;
    z-index: 100;
    padding: 1em 0;
    align-items: center;
  }

  .navItem {
    display: block;
    text-align: center;
    width: 80%;
    margin: 0.5em;
  }

  .activeBar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 1 100%;
    position: absolute;
    top: 10%;
    right: 0;
    background: white;
    width: 100%;
  }

  #bar {
    position: absolute;
    display: block;
    margin-top: -5px;
    top: 34px;
    right: 7%;
  }
}
